$color_white: #fff;
$color_smokeywhite: #f7f7f7;
$color_black1: #111;
$color_black2: #222;
$color_black3: #333;
$color_grey4: #444;
$color_grey5: #555;
$color_grey6: #666;
$color_grey7: #777;
$color_purple: #845EC2;
$color_pink: #FF6F91;
$color_gold: #FFC75F;
$color_yellow: #F9F871;
$color_blue: #2C73D2;