$color_white: #fff;
$color_smokeywhite: #f7f7f7;
$color_black1: #111;
$color_black2: #222;
$color_black3: #333;
$color_grey4: #444;
$color_grey5: #555;
$color_grey6: #666;
$color_grey7: #777;
$color_ascdark1: #515C79;
$color_asc1: #F59093;
$color_asc2: #FFAE8F;
$color_asc3: #DE789F;
$color_asc4: #B769AE;
$color_main: #7B63B7;