$color_white: #fff;
$color_smokeywhite: #f7f7f7;
$color_white03:rgba(247, 247, 247,0.3);
$color_black1: #111;
$color_black2: #222;
$color_black3: #333;
$color_grey4: #444;
$color_grey5: #555;
$color_grey6: #666;
$color_grey7: #777;
$color_greyc: #ccc;
$color_greye: #eee;
$color_ascdark1: #515C79;
$color_asc1: #08a5e1;
$color_asc2: #FFAE8F;
$color_asc3: #DE789F;
$color_asc4: #B769AE;
$color_asc5: #845EC2;
$color_main: #005cb9;
$color_whiteT: rgba(255,255,255,0.5);
$color_blackT: rgba(0,0,0,0.5);
$color_greyT: rgba(100,100,100,0.5);
$color_purpleT: rgba(132,94,194,0.5) ;

$width_cell: 100px;