@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700');
@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Raleway";
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  padding: 1em;
  font-family: "Lobster";
}

.body {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:2rem 2rem 3rem 1fr 4rem ;
grid-template:"control control control" "h h h" "s e t" "g g g" "b b b";
}

.header {
width:100%;
grid-area: h;
display:flex;
justify-content:center;
align-content:center;
  background-color: $color_smokeywhite;
}
.timer {
grid-area: t;
display:flex;
justify-content:center;
align-content:center;
  padding: 1em;
}
.game-event {
grid-area: e;
display:flex;
justify-content:center;
align-content:center;
  padding: 1em;
}
.score {
grid-area: s;
display:flex;
flex-direction:column;
justify-content:center;
align-content:center;
  padding: 1em;
}

.game {
grid-area: g;
  display: grid;
  grid-template-rows: $width_cell $width_cell $width_cell;
  grid-template-columns: $width_cell $width_cell $width_cell;
  grid-gap: 2px;
  padding: 1em;
  justify-content: center;
  .game__cell {
    width: $width_cell;
    height: $width_cell;
    cursor: pointer;
    background-color: $color_main;
    display: flex;
    align-content: center;
    justify-content: center;
    &:hover {
      background-color: $color_asc1;
    }
  }
}

  .button-holder{
  grid-area: b;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
    .new-round{
      width:6rem;
      height:2rem;
      padding:1rem;
      text-align:center;
      background: $color_grey7;
      border-radius:3px;
      color:$color_white;
      cursor: pointer;
      &:hover{
        background-color:$color-asc1;
      }
    }
    .reset{
      width:6rem;
      height:2rem;
      padding:1em;
      text-align:center;
      background: $color_grey7;
      border-radius:3px;
      color:$color_white;
      cursor: pointer;
      &:hover{
        background-color:$color-asc1;
      }
    }
  }

.title-bar {
grid-area:control;
display:flex;
justify-content:flex-end;
 -webkit-app-region: drag; 
 background-color: $color-black3;
 .close-btn {
font-size:2rem;
 -webkit-app-region: no-drag;
width:2rem;
 cursor:pointer;
 &:hover{
 color:$color-white;
 }
}
}